@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  min-width: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/5437478f-d92d-4e57-a2d9-154db05b16c5/dci8bny-269ab3ae-4786-44ea-b14b-627f40eaa3bf.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzU0Mzc0NzhmLWQ5MmQtNGU1Ny1hMmQ5LTE1NGRiMDViMTZjNVwvZGNpOGJueS0yNjlhYjNhZS00Nzg2LTQ0ZWEtYjE0Yi02MjdmNDBlYWEzYmYuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.MfyC_wfEHsA2UmSFD5FIhv9Y7roufDeZhD12nsJCAXU");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

body>div {
  min-width: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: rgb(255 191 34);
  border-radius: 10px;
  left: 0;
  top: 0;
  cursor: pointer;
}

.swiper-horizontal>.swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
  left: 0;
  bottom: 0;
  background: #111;
  width: 100%;
}

@keyframes comeIn {
  0% {
    transform: translate(0, 100%) ;
    opacity: 0
  }

  /* 75% { transform: scale(0.7);  opacity: 0.5  } */
  100% {
    transform: translate(0, 0);
    opacity: 1
  }
}

.scale-in {
  animation: comeIn ease 0.5s;
  animation-iteration-count: 1;
  transition: left .3s ease, top .3s ease;
}

.card {
  margin: 7px;
  padding: 5px;
  border-radius: 3px;
  box-shadow: 0 1px 3px darkgray;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}



.loading__anim {
  width: 35px;
  height: 35px;
  border: 5px solid rgba(189, 189, 189, 0.25);
  border-left-color: rgb(11, 229, 3);
  border-top-color: rgb(11, 229, 3);
  border-radius: 50%;
  display: inline-block;
  animation: rotate 600ms infinite linear;
}

.example-enter {
  opacity: 0.01;
}

#dropdownNavbar {
  opacity: 1;
  animation: comeIn ease 0.5s;
  animation-iteration-count: 1;
  transition: left .3s ease, top .3s ease;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}